* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
body {
  background: black;
}
header {
  padding: 5rem;
  min-height: 50vh;
  margin-block-end: 5rem;
  position: relative;
}
h1 {
  color: red;
  font-family: Arima;
  line-height: 1;
  font-weight: 900;
  /* text-align: center; */
  font-size: clamp(2.5rem, 10vw + 0.5rem, 6rem);
  text-transform: uppercase;
  position: relative;
  z-index: 0;
}
img {
  -webkit-mask-image: url(https://assets.stickpng.com/images/61d183263a856e0004c6334a.png);
  mask-image: url(https://assets.stickpng.com/images/61d183263a856e0004c6334a.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
p {
  color: white;
}
