* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
body {
  background: black;
}
header {
  padding: 5rem;
  position: relative;
  min-height: 50vh;
  margin-block-end: 5rem;
  position: relative;
}
h1 {
  color: red;
  font-family: Arima;
  line-height: 1;
  font-weight: 900;
  font-size: clamp(2.5rem, 10vw + 0.5rem, 6rem);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(red, transparent);
  mask-image: linear-gradient(red, transparent);
}
