* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  box-sizing: border-box;
}
body {
  background: #30343f;
}
h1 {
  color: aquamarine;
  font-family: Arima;
  position: relative;
}
img {
  -webkit-mask-image: linear-gradient(red, transparent);
}
