mask {
  -webkit-mask-image: url("https://www.freepnglogos.com/uploads/pin-png/pin-transparent-png-pictures-icons-and-png-backgrounds-30.png");
  mask-image: url("https://www.freepnglogos.com/uploads/pin-png/pin-transparent-png-pictures-icons-and-png-backgrounds-30.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
